<div class="login-container">
    <form [formGroup]="registerForm" class="login-wrapper
    " (ngSubmit)="onSubmit()">
        <div>Register Page</div>
        <div>
            <label for="username">Username: </label>
            <input formControlName="username" name="username" type="text" />
        </div>
        <div>
            <label for="email">email: </label>
            <input formControlName="email" name="email" type="text" />
        </div>
        <div>
            <label for="password">Password: </label>
            <input formControlName="password" name="password" type="Password" />
        </div>
        @if (validation) {
        <span style="color: red;">{{this.validation}}</span>
        }
        <div>
            <button class="button" type="submit">Register</button>
        </div>
        <div>Or <span style="color: red;">Login</span></div>
    </form>
</div>