<div class="employee-container">
    <div>
        <div>
            <div>{{data.first_name}}</div>
        </div>
        <div>
            <div>{{data.last_name}}</div>
        </div>
        <div>
            <div>{{data.email}}</div>
        </div>
        <div>
            <div>{{data.gender}}</div>
        </div>
        <div>
            <div>{{data.salary}}</div>
        </div>
    </div>
    <div>
        <button (click)="handleViewClick()" class="button">View</button>
        <button (click)="handleEditClick()" class="button">Edit</button>
        <button (click)="handleDeleteClick()" class="button" style="background-color:  red;">Delete</button>
    </div>
</div>