<div class="details-container">
    <div class="details-wrapper">
        <div>
            <img  src="../../assets/profile.png"/>
        </div>
        <div>
            First name: {{payload.first_name}}
        </div>
        <div>
            Last name: {{payload.last_name}}
        </div>
        <div>
            Email: {{payload.email}}
        </div>
        <div>
            Gender: {{payload.gender}}
        </div>
        <div>
            Salary: {{payload.salary}}
        </div>
    </div>
</div>